<!DOCTYPE html>
<html>
<head>
  <title>Email Preview</title>
</head>
<frameset cols="20%,*">
  <frame src="<%= navigation_email_preview_index_path %>" name="index" />
  <frame name="show" />
</frameset>
</html>
