<!DOCTYPE html>
<html>
<head>
  <title>EmailPreviewExample</title>
</head>
<body>
  <frameset cols="20%,*">
    <frame src="<%= list_email_previews_path %>" name="listing" />
    <frame name="render" />
  </frameset>
</body>
</html>
