<style type='text/css'>
  ul, li, h3 { margin: 0; padding: 0; }

  ul {
    list-style-type: none;
  }
  li {
    margin-left: 10px;
  }
  h3 {
    margin: 5px;
  }
</style>
<% EmailPreview.categories.each do |category| %>
  <h3><%= category %></h3>
  <ul>
  <% EmailPreview.registry.values.sort_by {|o| o[:description]}.each do |options| %>
    <% next unless options[:category] == category %>
    <li><%= link_to options[:description], email_preview_path(options[:key]), :target => 'show' %>
  <% end%>
  </ul>
<% end %>
