<style type='text/css'>
  ul, li, h3 { margin: 0; padding: 0; }

  ul {
    list-style-type: none;
  }
  li {
    margin-left: 10px;
  }
  h3 {
    margin: 5px;
  }
</style>
<% EmailPreview.categories.each do |category| %>
  <h3><%= category %></h3>
  <ul>
    <% EmailPreview.registry.select {|f| f.category == category }.sort_by(&:description).each do |fixture| %>
      <li><%= link_to fixture.description, email_preview_path(EmailPreview.registry.index(fixture)), :target => 'show' %>
    <% end%>
  </ul>
<% end %>
