<!DOCTYPE html>
<html>
<head>
  <title>Email Preview</title>
</head>
<frameset rows="300px,*">
  <frame src="<%= details_email_preview_path(params[:id]) %>" name="details" />
  <frame name="preview" />
</frameset>
</html>
